@import "variables";
%theme-color {
  transition: all 0.3s ease-out;
  padding: 1.4rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  @media (max-width: 600px) {
    width: 5px;
    height: 5px;
    padding: 1rem;
  }
}
%svg {
  display: flex;
  align-items: center;
  height: 55px;
  cursor: pointer;
  @media (max-width: 600px) {
    height: 40px;
  }
}
%theme-container {
  display: flex;
  position: fixed;
  z-index: 100;
  right: 2.5rem;
  top: 5rem;
  bottom: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-out;

  @media (max-width: 600px) {
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    flex-direction: row-reverse;
  }
}
.svg {
  @extend %svg;
  fill: #000000;
}
.svg-light {
  @extend %svg;
  fill: #ffffff;
}
@each $color-key, $color-val in $colors {
  @each $theme-val in $theme {
    .theme-container-#{$color-key}-#{$theme-val} {
      @extend %theme-container;
      @if ($theme-val== "dark") {
        background-color: mix(black, $color-val, 80%);
      } @else {
        background-color: mix(#ffffff, $color-val, 80%);
      }
    }
    .theme-#{$color-key}-#{$theme-val} {
      @extend %theme-color;
      @if ($theme-val== "dark") {
        border: 5px solid #ffffff;
      } @else {
        border: 5px solid #000000;
      }
      background-color: $color-val;
    }
  }
}
