@import "variables";
@import "global";

%input-textfield {
  width: 100%;
  margin-right: 1rem;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;

  outline: 0;
  border-radius: 5px;
}

%input-button {
  cursor: pointer;
  border: 0;
  padding: 0.75rem 0.8rem;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
}

.input-main-container {
  width: 60%;
  max-width: 500px;
  margin: 0 auto 2rem auto;
  @media (max-width: 600px) {
    width: 90%;
  }
  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @each $color-key, $color-val in $colors {
      @each $theme-val in $theme {
        .input-textfield-#{$color-key}-#{$theme-val} {
          @extend %input-textfield;
          @if ($theme-val== "dark") {
            color: lighten($color-val, 30%);
          } @else {
            color: darken($color-val, 30%);
          }
          border: 2px solid lighten($color-val, 25%);
          background-color: rgba($color-val, 0.035);
          &:focus {
            background-color: rgba($color-val, 0.185);
            border: 2px solid $color-val;
          }
        }
      }
      .input-button-#{$color-key} {
        @extend %input-button;
        background-color: $color-val;
      }
    }
  }
}
